.black {
    background-color: rgb(0, 0, 0);
    color: white;
}

.white {
    background-color: rgb(255, 255, 255);
    color: #000;
    border: 2px solid rgba(0, 0, 0, 0.7);
}

.white:hover {
    border: 2px solid rgba(0, 0, 0, 0.2);
}
